<div class="filter">
  <label for="name">
    <div class="text-xs">Search title:</div>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      (input)="onNameChange($event)"
    />
  </label>
  <label for="price">
    <div class="text-xs">
      Price range:
      <span class="font-normal">{{ priceRange.value }}</span>
    </div>
    <div class="flex">
      <span>{{ priceRange.min }}</span>
      <span>{{ priceRange.max }}</span>
    </div>
    <input
      type="range"
      id="price"
      [min]="priceRange.min"
      [max]="priceRange.max"
      step="50"
      value="0"
      [value]="priceRange.value"
      (input)="onPriceChange($event)"
    />
  </label>
  <label for="category">
    <div class="text-xs">Search title:</div>
    <select name="category" id="category" (change)="onCategoryChange($event)">
      <option value="All">All</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </label>
  <label for="rating">
    <div class="text-xs">
      Rating range:
      <span class="font-normal">{{ ratingRange.value }}</span>
    </div>
    <div class="flex">
      <span>{{ ratingRange.min }}</span>
      <span>{{ ratingRange.max }}</span>
    </div>
    <input
      type="range"
      id="rating"
      [min]="ratingRange.min"
      [max]="ratingRange.max"
      step="1"
      value="1"
      [value]="ratingRange.value"
      (input)="onRatingChange($event)"
    />
  </label>
</div>
